<!-- <div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>ID Kabupaten</th>
                        <th>Nama Kabupaten</th>
                        <th>Nama Provinsi</th>
                        <th>#</th>
                        
                    </tr>
                </thead>
                 <tbody>
                    <tr *ngFor="let k of listkab">
                        <td>{{k.kodeBPS}}</td>
                        <td>{{k.namaKabupaten}}</td>
                        <td>{{k.provinsi.namaProvinsi}}</td>
                        <td><a routerLink="/ekabupaten/{{k.kodeBPS}}">Edit</a></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
</div>
</div> -->

<table datatable [dtOptions]="dtOptions" class="row-border hover" style="width: 100%"></table>